LLM_BASE_URL="http://192.168.1.111:8886/v1"
LLM_MODEL=""
LLM_API_KEY="sk-XXXX"

STT_BASE_URL="http://192.168.1.111:8882/v1"
STT_API_KEY="sk-1"
STT_MODEL="small" # "distil-small.en"
STT_RESPONSE_FORMAT="verbose_json"
LANGUAGE="en"

TTS_BASE_URL="http://192.168.1.111:8884/v1"
TTS_API_KEY="dummy"
TTS_MODEL="kokoro"
TTS_VOICE="af_heart"
TTS_BACKEND="kokoro"
TTS_AUDIO_FORMAT="pcm"

# Optional: Connect via Daily WebRTC locally
DAILY_API_KEY=your_daily_api_key